@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
  html {
    @apply bg-gray-800 overflow-x-hidden;
  }

  .cards {
    @apply grid grid-cols-1 gap-4 justify-items-center pb-12 gap-y-5;
    margin: 0 auto;
    width: min(95vw, 65rem);
  }

  .card {
    @apply text-4xl text-center font-bold font-sans grid place-items-center shadow text-gray-100 rounded w-full py-10;
  }
  
  @screen md {
    .cards {
      @apply grid-cols-2 gap-8 gap-y-16;
    }

    .card {
      @apply h-72 w-72 text-2xl;
    }
  }

  @screen lg {
    .cards {
      @apply grid-cols-3
    }
  }

  .card:hover {
    @apply transition-all duration-200 ease-in cursor-pointer transform scale-110;
  }

  .card-orange {
    @apply bg-gradient-to-tr from-orange-400 to-orange-600;
  }

  .card-red {
    @apply bg-gradient-to-tr from-red-400 to-red-600;
  }

  .card-green {
    @apply bg-gradient-to-tr from-green-300 to-green-600;
  }

  .card-blue {
    @apply bg-gradient-to-tr from-blue-400 to-blue-600;
  }

  .card-purple {
    @apply bg-gradient-to-tr from-purple-400 to-purple-700;
  }

  /* Buttons  */

  .buttons {
    @apply flex flex-wrap items-center justify-evenly max-w-6xl mx-auto;
  }

  .word-select {
    @apply bg-gray-100 text-3xl py-2 px-8 rounded-2xl mb-5 grid place-items-center border-2;
  }

  @screen md {
    .word-select {
      @apply px-16 text-4xl;
    }
  }

  .word-select.active {
    @apply text-gray-100;
  }

  .word-select-red {
    @apply border-red-600 text-red-500 hover:bg-red-200; 
  }
  .word-select-blue {
    @apply border-blue-600 text-blue-500 hover:bg-blue-200;
  }
  .word-select-green {
    @apply border-green-600 text-green-500 hover:bg-green-200;
  }
  .word-select-orange {
    @apply border-orange-600 text-orange-500 hover:bg-orange-200;
  }
  .word-select-purple {
    @apply border-purple-600 text-purple-500 hover:bg-purple-200;
  }

  .word-select-red.active {
    @apply bg-red-500 hover:bg-red-400;
  }

  .word-select-blue.active {
    @apply bg-blue-500 hover:bg-blue-400;
  }

  .word-select-green.active {
    @apply bg-green-500 hover:bg-green-400;
  }

  .word-select-orange.active {
    @apply bg-orange-500 hover:bg-orange-400;
  }

  .word-select-purple.active {
    @apply bg-purple-500 hover:bg-purple-400;
  }

  /* Word Cards */

  .wordCards {
    @apply flex mx-auto my-4 justify-center;
    width: min(52rem, 98vw);
  }

  .wordCard {
    @apply grid items-center bg-gray-100 text-wordCard-lg select-none p-2 h-64 w-2/4;
  }

  @screen md {
    .wordCards {
      @apply p-10;
    }

    .wordCard {
      @apply text-wordCard-sm;
    }
  }

  .wordCard.single {
    @apply text-center;
    width: 60rem;
  }

  .wordCard .start {
    @apply justify-self-end;
  }

  .wordCard .end {
    @apply justify-self-start;
  }

  .wordCard-red {
    @apply text-red-500
  }
  .wordCard-blue {
    @apply text-blue-500
  }
  .wordCard-green {
    @apply text-green-500
  }
  .wordCard-orange {
    @apply text-orange-500
  }
  .wordCard-purple {
    @apply text-purple-500
  }

  /* Page Titles */

  .pageTitle {
    @apply my-20 grid place-items-center text-red-400;
  }

  .pageTitle h1 {
    @apply px-5 text-2xl text-gray-800 text-center rounded;
  }

  .pageTitle.course {
    @apply mt-5 mb-10;
  }
  .pageTitle.course h1 {
    @apply capitalize text-gray-100 px-10;
  }


  .chooseNewWordButton {
    @apply block text-3xl py-3 px-8 mx-auto my-8 rounded-md bg-gray-100 hover:bg-gray-200; 
  }

  .chooseNewWordButton-red {
    @apply text-red-500 hover:bg-red-200 border-2 hover:border-red-500;
  }
  .chooseNewWordButton-blue {
    @apply text-blue-500 hover:bg-blue-200 border-2 hover:border-blue-500;
  }
  .chooseNewWordButton-green {
    @apply text-green-500 hover:bg-green-200 border-2 hover:border-green-500;
  }
  .chooseNewWordButton-orange {
    @apply text-orange-500 hover:bg-orange-200 border-2 hover:border-orange-500;
  }
  .chooseNewWordButton-purple {
    @apply text-purple-500 hover:bg-purple-200 border-2 hover:border-purple-500;
  }

}