@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer components {
  html {
    @apply bg-gray-800;
  }

  .cards {
    @apply grid grid-cols-1 gap-8 justify-items-center pb-12 gap-y-16;
    margin: 0 auto;
    width: min(95vw, 65rem);
  }

  .card {
    @apply text-2xl text-center font-bold font-sans grid place-items-center shadow text-gray-100 rounded md:grid-cols-2 lg:grid-cols-3;
    height: 18rem;
    width: 18rem;
  }

  .card:hover {
    @apply transition-all duration-200 ease-in cursor-pointer transform scale-110;
  }

  .card-orange {
    @apply bg-gradient-to-tr from-yellow-400 to-yellow-600;
  }

  .card-red {
    @apply bg-gradient-to-tr from-red-500 to-red-700;
  }

  .card-green {
    @apply bg-gradient-to-tr from-green-300 to-green-500;
  }

  .card-blue {
    @apply bg-gradient-to-tr from-blue-400 to-blue-600;
  }

  .card-purple {
    @apply bg-gradient-to-tr from-purple-400 to-purple-700;
  }

  .wordCards {
    @apply flex mx-auto my-4 justify-center;
    width: min(52rem, 98vw);
  }

  .buttons {
  }

  .wordCard {
    @apply grid items-center bg-gray-100 select-none p-5 h-64 w-2/4;
  }
  
  .wordCard.single {
    @apply text-center;
    width: 60rem;
  }

  .wordCard .start {
    @apply justify-self-end;
  }

  .wordCard .end {
    @apply justify-self-start;
  }

  .pageTitle {
    @apply my-20 grid place-items-center md:text-4xl;
  }

  .pageTitle h1 {
    @apply px-5 text-2xl text-gray-800 text-center rounded;
  }

  .pageTitle.course {
    @apply mt-5 mb-10;
  }
  .pageTitle.course h1 {
    @apply capitalize text-gray-100 px-10;
  }
}